#hero-banner{
	background-color: powderblue;
	padding-top: 80px;
	padding-bottom: 0;
	height: 100vh;
}
#nav-image-me{
	width: 50px;
}

#mountain{
	position: absolute;
	bottom: 0;
	transform: translate(-50%, 0);
}
.horizontal-line{
	border-style: dotted none none none;
	border-color: gray;
	border-width: 10px;
	width: 80px;
}
h1{
	font-family: 'Sansita Swashed', cursive;
}
*{
	font-family: 'Merriweather', serif;
}
@media only screen and (min-width: 768px){
	#mountain{
	padding-right: 20%;
	padding-left: 20%;
	}
	#banner-content{
		padding-left: 80%
		padding-right: 80%;
		word-wrap: break-word;
	}
}